html {
  height: 100%;
  width: 100vw;
  background-color: #ffda1f;
}

.audiowide,
.logo {
  font-family: 'Audiowide', sans-serif;
}

.logo {
  background-color: #f5bb4e;
  border-radius: 5em;
  font-size: 3em;
  margin: 0.5em;
}

.background {
  background-color: #ffd940;
  border-radius: 2.5%;
  margin: 1em;
}

.tart-image {
  width: calc(100% - 2em);
  padding: 1em;
}

.payBtn {
  background-color: #49a1c9;
  border-radius: 5em;
  font-size: 1.5em;
  margin: 0.5em;
}

.padded {
  padding: 1em;
}

.underline {
  text-decoration: underline;
  background-color: #ffac12;
}
.bold {
  font-weight: bold;
}